<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.sdsmt.cs492.example6.fragments"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="edu.sdsmt.cs492.example6.fragments.ActivityMain"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.sdsmt.cs492.example6.fragments.ActivityDualPaneStaticLayout"
            android:label="@string/title_activity_dual_pane_static_layout" >
        </activity>
        <activity
            android:name="edu.sdsmt.cs492.example6.fragments.ActivityDualPaneProgrammaticLayout"
            android:label="@string/title_activity_dual_pane_programmatic_layout" >
        </activity>
        <activity
            android:name="edu.sdsmt.cs492.example6.fragments.ActivityDynamicLayout"
            android:label="@string/title_activity_dynamic_layout" >
        </activity>
        <activity
            android:name="edu.sdsmt.cs492.example6.fragments.ActivityConfigChangeDynamicLayout"
            android:label="@string/title_activity_dynamic_config_change_layout" >
        </activity>
    </application>

</manifest>
